<div class="container" fxLayout="column">
  <form
    fxFlex
    [formGroup]="form"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <mat-card
      fxLayout="column"
      class="card mat-elevation-z10"
      fxLayoutGap="10px"
    >
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input
          matInput
          maxlength="15"
          inputmode="tel"
          placeholder="Type name"
          formControlName="name"
          #nameInput
        />
        <mat-hint> {{ nameInput.value.length }}/15</mat-hint>
        <mat-error>Name is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="legacy">
        <mat-label>Email Address:</mat-label>
        <input
          matInput
          type="email"
          formControlName="email"
          placeholder="Your email"
        />
        <mat-icon matSuffix>mail_outline</mat-icon>
        <mat-hint>Input the fully qualified email address</mat-hint>
        <mat-error *ngIf="form.controls['email'].errors?.['required']"
          >Email is required</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>Address:</mat-label>
        <textarea
          matInput
          placeholder="address"
          formControlName="address"
        ></textarea>
      </mat-form-field>

      <mat-form-field appearance="fill" hintLabel="Country name required">
        <mat-label>Country</mat-label>
        <mat-select matNativeControl name="country" formControlName="country">
          <mat-option value="india">India</mat-option>
          <mat-option value="france">France</mat-option>
          <mat-option value="germany">Germany</mat-option>
          <mat-option value="japan">Japan</mat-option>
          <mat-option value="Mongolia">Mongolia</mat-option>
        </mat-select>
      </mat-form-field>

      <div style="margin-top: 10px">
        <div style="margin-right: 3%; color: #6b6b6b">
          <mat-label>Gender</mat-label>
        </div>
        <mat-radio-group formControlName="gender" fxLayoutGap="10px">
          <mat-radio-button value="Male">Male</mat-radio-button>
          <mat-radio-button value="Female">Female</mat-radio-button>
        </mat-radio-group>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" />
        <mat-datepicker-toggle matSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </mat-card>
    <div mat-dialog-actions>
      <button
        class="submit-button margin-top"
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!form.valid"
      >
        Submit
      </button>
    </div>
  </form>
</div>
