.container{
  height: 100vh;
width: 100vw;
background-image: url('../../assets/contactus.png');
background-size: cover;
background-repeat: no-repeat;

}

.margin-top{
  margin-top: 30px;
}

.card{

min-width:40rem;
  background-color: rgba(236, 236, 236, 0.945);
}


.fxClass-lt-md{

  min-width:30rem;

}
