
.example-card {
  max-width: 40rem;
  margin-bottom: 1rem;
  margin-top: 3rem;
}

.margin-top{
  margin-top: 3rem;
}

.container{
  min-height: 100vh;
background-image: url('../../assets/web1.png');
background-repeat: no-repeat;
background-size: cover;
}

.title{
  color: azure;
}
