<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" #sidenav>Sidenav content</mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="toolbar" fxLayoutGap="5rem" fxLayoutAlign=" center">
      <button
        fxLayoutAlign="center center"
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
        (click)="sidenav.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>

      <button
        fxLayoutAlign="center center"
        mat-icon-button
        class="example-icon"
        [routerLink]="['/books']"
        routerLinkActive="router-link-active"
      >
        Books list
      </button>
      <button
        fxLayoutAlign="center center"
        mat-icon-button
        class="example-icon"
        [routerLink]="['books/search']"
        routerLinkActive="router-link-active"
      >
        Search
      </button>
      <button
        fxLayoutAlign="center center"
        mat-icon-button
        class="example-icon favorite-icon"
        [routerLink]="['/contactus']"
        routerLinkActive="router-link-active"
      >
        Contact us
      </button>
      <div>
        <app-login fxFlex></app-login>
      </div>
      <div>
        <app-user-profile></app-user-profile>
      </div>
    </mat-toolbar>
    <messages></messages>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<!--
<mat-sidenav-container class="example-container" >
  <mat-sidenav #sidenav mode="side"
               >
    Sidenav content
  </mat-sidenav>

  <mat-sidenav-content>

    <p><button mat-button (click)="sidenav.toggle()">sidenav.toggle()</button></p>

  </mat-sidenav-content>
</mat-sidenav-container> -->
