mat-sidenav-container,
mat-sidenav,
mat-sidenav-content {
  height: 100%;
  width:100%;
}

mat-sidenav {
  width: 200px;
  background-color: rgb(255, 255, 255);
  height: 800px;
}

.router-link-active {
  text-decoration: underline;
}

.toolbar{
  width:100%;
  background-color: rgba(14, 13, 13, 0.966);
  color: antiquewhite;
}
