<div
  class="container"
  fxLayoutAlign="start center"
  fxLayout="column"
  fxLayoutGap="1rem"
>
  <div class="mat-display-1 margin-top">search for books</div>
  <mat-form-field class="example-form-field" appearance="fill">
    <mat-label>Search for books</mat-label>
    <input matInput type="text" [(ngModel)]="books" />
    <button matSuffix mat-icon-button aria-label="Clear" (click)="onSearch()">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>

  <div class="error" *ngIf="!searchResult?.length && isSearchedEver">
    <h4>Unable to find books</h4>
  </div>
  <div class="mat-display-2" *ngIf="searchResult?.length">Results:</div>
  <table
    ngClass.lt-sm="fxClass-lt-md"
    mat-table
    fxFlex
    mat-sort
    [dataSource]="searchResult"
    *ngIf="searchResult?.length"
    class="mat-elevation-z8"
  >
    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let book">{{ book.title }}</td>
    </ng-container>

    <!-- Name Column -->

    <!-- Weight Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>price</th>
      <td mat-cell *matCellDef="let book">{{ book.price }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="view">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let book">
        <span><img class="book-avatar" [src]="book.image" /></span>
      </td>
    </ng-container>
    >

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
